

<%= render @movie %>


 <%
=begin%>
 <div>
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-primary btn-sm" %>
  <%= link_to "Back to movies", movies_path, class: "btn btn-primary btn-sm" %>

  <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-primary btn-sm"%>
</div>  
<%
=end%>



