





<div class="card my-5 shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"<h1>Editing client</h1></h5>
    <p class="card-text"><%= render "form", client: @client %></p>

  </div>
</div>