<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clients</h1>

  

  <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_client_path %>





  <table class="table align-middle table-hover shadow">
    <thead class="table-light">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col">Age</th>
        <th scope="col"></th>
        <th scope="col" >Pelicula</th>
        <th scope="col" colspan="4"></th>
      </tr>
    </thead>
      <tbody>
        <% @clients.each do |client| %>
        <tr>
          <%= render client %>
        </tr>
        <% end %>
      </tbody>
  </table>
