<p style="color: green"><%= notice %></p>




<div class="card my-5 shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"<h1>Client</h1></h5>
    <p class="card-text"><%= render @client %></p>
  </div>
</div>